@import "core.css";

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between + safe;
  align-content: space-between;
}

.desc{
  text-align: left;
  font-size: 20px;
}
.disclaimer{
  font-size: 18px;
  text-align: left;
}


input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #fa66bf;
  border-radius: 4px;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none; /*Allow the user to vertically resize the textarea (not horizontally) */
  background-color: #c1dbb3ff;
}


/*submit*/
.tooltip {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  background-color: #c1dbb3ff;
  color: #4e6e5dff;
  padding: 20px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 30%;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  /*z-index: 1;*/
  top: 110%;
  left: 50%;
  /*margin-left: -75px;*/
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  background-color: rgb(208, 157, 219);
}

.contatti{
    text-align: left;
}

@media only screen and (min-width: 290px) and (max-width: 550px) {

  .contatti{
    flex-grow: 1;
  }

  .contactform{
    flex-grow: 1;
  }

  input[type=text],select{
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .tooltip {
    margin-left: 30%;
  }
}

@media only screen and (min-width:551px) and (max-width: 860px) {
  .contatti{
    width: 50%;
  }

  .contactform{
    width: 50%;
  }

  input[type=text],select{
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .tooltip {
    margin-left: 30%;
  }
}

@media only screen and (min-width:861px) and (max-width: 1370px) {

  .contatti{
    width: 50%;
  }

  .contactform{
    width: 50%;
  }

  .formcss{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .inomiecognomi{
    width: 40%;
  }

  .email{
    width: 40%;
  }

  .messaggio{
    flex-grow: 1;
    width: 100%;
  }

  input[type=text],select{
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .bottone {
    flex-grow: 1;
    width: 100%;
  }

  .tooltip{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}


@media only screen and (min-width:1371px) {

  .contatti{
    width: 50%;
  }

  .contactform{
    width: 50%;
  }

  .formcss{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .inomiecognomi{
    width: 40%;
  }

  .email{
    width: 40%;
  }

  .messaggio{
    flex-grow: 1;
    width: 100%;
  }

  input[type=text],select{
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .bottone {
    flex-grow: 1;
    width: 100%;
  }

  .tooltip{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }  
}
