@import "core.css";

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.proj{
  background-color: rgba(193, 219, 179);
  height: 45%;
  overflow: hidden;
  box-shadow: 2px 2px 2px #4e6e5dff;
  transition: 0.1s all ease-in-out;
  margin-bottom: 36px;
  border-radius: 8px;
}

.immagine{
  width: 100%;
}

.disclaimer{
  font-size: 18px;
  text-align: left;
}

.sum{
  text-align: center;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.sory{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.desc{
  text-align: left;
  font-size: 20px;
}

@media only screen and (min-width:551px) and (max-width: 860px) {


  .summary{
    width: 30%;
  }

  .presentation{
    width: 60%;
  }


  .curriculum{
    flex-grow: 1;

  }

  .curriculum p{
    text-align: left;
  }

}

@media only screen and (min-width:861px) and (max-width: 1370px) {

  .summary{
    width: 15%;
  }

  .presentation{
    width: 60%;
  }


  .curriculum{
    width: 20%;
  }

}


@media only screen and (min-width:1371px) {


  .summary{
    width: 15%;
  }

  .presentation{
    width: 60%;
  }


  .curriculum{
    width: 20%;
  }
}
