body {
  margin: 10 auto;
  background-color: #ee7674ff;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.proj{
  background-color: rgba(193, 219, 179);
  height: 45%;
  overflow: hidden;
  box-shadow: 2px 2px 2px #4e6e5dff;
  transition: 0.1s all ease-in-out;
  margin-bottom: 36px;
  border-radius: 8px;
}

.immagine{
  width: 100%;
}

a{
  text-decoration: none;
}

a:link, a:visited {
  color: #4e6e5dff;
  text-shadow: 1px 1px 0 #c1dbb3ff;
}

.disclaimer{
  font-size: 18px;
  text-align: left;
}

.sum{
  text-align: center;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.brown:link, .brown:visited {
  color: #472c1bff;
  text-shadow: 0 0 0 #472c1bff;
}

.sory{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.desc{
  text-align: left;
  font-size: 20px;
}

@media only screen and (min-width: 290px){
  h1{
  font-family: 'Ubuntu', sans-serif;
  color: #c1dbb3ff;
  text-shadow: 5px 5px 0 #4e6e5dff;
  text-align: center;
	vertical-align: middle;
  font-weight: bold;
  }

  h2{
  font-family: 'Ubuntu', sans-serif;
  color: #4e6e5dff;
  text-shadow: 3px 3px 0 #c1dbb3ff;
  text-align: left;
	vertical-align: left;
  font-weight: bold;
  }

  h3{
    font-family: 'Ubuntu', sans-serif;
    color: #c1dbb3ff;
    text-shadow: 2px 2px 0 #4e6e5dff;
    text-align: left;
	  vertical-align: left;
    font-weight: bold;
  }

  p{
  font-family: 'Ubuntu', sans-serif;
  color: #472c1bff;
  text-align: center;
	vertical-align: middle;
  font-weight: bold;
  }

  .intro{
  background-color: rgba(249, 181, 172, 0.5);
  margin: 0 auto 0 auto; 
  text-shadow: 0 2px 0 #f9b5acff;
  }

  .progetti{
  margin: 0 auto 0 auto; 
  }



}

@media only screen and (min-width: 290px) and (max-width: 550px) {

  h1{
  font-size: 50px;
  }

  h2{
  font-size: 40px;
  }

  h3{
  font-size: 30px;
  }

  p{
  font-size: 20px;
  }

  .intro{
	padding: 12px;
	width: 250px;
  }

  .progetti{
	padding: 12px;
	width: 250px;
  }

}

@media only screen and (min-width:551px) and (max-width: 860px) {


  h1{
  font-size: 60px;
  }

  h2{
  font-size: 40px;
  }

  h3{
  font-size: 30px;
  }

  p{
  font-size: 20px;
  }

  .intro{
	padding: 12px;
	width: 500px;
  }

  .progetti{
	padding: 12px;
	width: 500px;
  }

  .summary{
    width: 30%;
  }

  .presentation{
    width: 60%;
  }


  .curriculum{
    flex-grow: 1;

  }

  .curriculum p{
    text-align: left;
  }

}

@media only screen and (min-width:861px) and (max-width: 1370px) {


  h1{
  font-size: 70px;
  }

  h2{
  font-size: 50px;
  }

  h3{
  font-size: 40px;
  }

  p{
  font-size: 25px;
  }

  .intro{
	padding: 12px;
	width: 800px;
  }

  .progetti{
	padding: 12px;
	width: 800px;
  }

  .summary{
    width: 15%;
  }

  .presentation{
    width: 60%;
  }


  .curriculum{
    width: 20%;
  }

}


@media only screen and (min-width:1371px) {


  h1{
  font-size: 90px;
  }

  h2{
  font-size: 50px;
  }

  h3{
  font-size: 40px;
  }

  p{
  font-size: 25px;
  }

  .intro{
	padding: 10px;
	width: 1300px;
  }

  .progetti{
	padding: 10px;
	width: 1300px;
  }

  .summary{
    width: 15%;
  }

  .presentation{
    width: 60%;
  }


  .curriculum{
    width: 20%;
  }
}
