.wrapper {
 	display: flex;
 	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	align-content: space-between;
}

.yt {
	display: block;
 	margin-left: auto;
  	margin-right: auto;

}

.proj {
  	background-color: #9D0661;
  	height: 45%;
  	overflow: hidden;
  	transition: 0.1s all ease-in-out;
  	margin-bottom: 36px;
  	border-radius: 8px;
}

.disclaimer{
  font-size: 18px;
  text-align: left;
}

.brown:link, .brown:visited {
  color: #fa66bf;
}

.sory{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.desc{
  text-align: left;
  font-size: 20px;
}

.squad{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

@media only screen and (min-width: 290px) and (max-width: 550px) {


  .proj{
    width: 70%;
    flex-grow: 1;
  }

  .gioco{
    display: none;
  }

  .proj1{
    flex-grow: 1;
  }

  .pic{
    flex-grow: 1;
  }

}

@media only screen and (min-width:551px) and (max-width: 860px) {

  .proj{
    width: 45%;
  }

}

@media only screen and (min-width:861px) and (max-width: 1370px) {

  .proj{
    width: 40%;
  }

  .gioco{
    width: 70%;
  }

  .description{
    width: 30%;
    font-size: 20px;
  }
  .proj1{
    flex-grow: 1;
  }

  .pic{
    flex-grow: 1;
  }


  #elab{
    flex-grow: 1;
  }
}


@media only screen and (min-width:1371px) {

  .proj{
    width: 30%;
  }

  .gioco{
    width: 50%;
  }

  .description{
    width: 50%;
    font-size: 20px;
  }

  .proj1{
    width: 45%;
  }

  .pic{
    width: 50%;
  }

}
