/* Background Image */
body {
  background-image: url(pics/rainbowstr.gif);
  background-size: repeat;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffffb0;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Header */
header {
  text-align: center;
  margin-bottom: 20px;
  background-color: #ffffff;

}

header h1 {
  margin: 0;
  padding: 10px;
  font-size: 2em;
}

/* Navigation Buttons */
nav button {
  background-color: #ddd;
  border: 1px solid #bbb;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  box-shadow: inset 2px 2px 0px #fff, inset -2px -2px 0px #aaa;
}

nav button:hover {
  background-color: #ccc;
}

/* Main Content */
main {
  text-align: left;
}

.centered {
  text-align: center;
}

main h2 {
  margin-top: 0;
}

/* Blog Post Content */
.content {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.content img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.content span img {
  width: 100%;
  height: 100%;
}

.content .text {
  flex: 1;
}

.content .text h2 {
  margin: 0;
  font-size: 1.2em;
}

.content .text p {
  margin: 10px 0 0;
  font-size: 1em;
}


/* Responsive Design */
@media (max-width: 768px) {
  body {
    background-color: #f4f4f4;
    /* Light background color for mobile */
  }

  .container {
    margin: 20px;
    padding: 10px;
    width: auto;
    box-shadow: none;
    border: none;
  }

  header h1 {
    font-size: 1.5em;
  }

  nav button {
    padding: 5px 10px;
    margin: 2px;
    font-size: 0.9em;
  }

  main {
    text-align: left;
  }

}

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;  
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides>div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
