
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  flex-wrap: wrap;
}

.immagine {
  width: 100%;
  object-fit: cover;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

footer {
  margin-top: auto;
  background-color: rgb(245, 206, 255);
  text-align: center;
  flex: 0 0 100%;
}

header {
  flex: 0 0 100%;
  margin-bottom: auto;
  box-sizing: content-box;
}

h1 {
  color: #000;
  text-align: center;
}

h2 {
  color: #000;
  font-size: 2rem;
}

h3 {
  color: #000;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  font-weight: bold;
}

p,
li {
  color: #000;
  font-size: 1.5rem;
}

main,
aside {
  text-align: left;
}

ul,
ol {

  list-style-position: inside;
  text-align: left;
}

ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
}

nav ul,
aside ol {
  text-align: center;
  padding: 0;
}

body {
  font-size: 85%;
  justify-content: space-evenly;
}

main,
aside,
nav {
  width: 80%;
}



aside {
  margin-top: 10px;
}

h1 {
  font-size: 4rem;
}

@media only screen and (max-width: 768px) {



  .proj {
    width: 90%;
  }

}

@media only screen and (min-width: 768px) {
  .proj {
    width: 20%;
  }


}